<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <aside>
      <mat-nav-list>
        <a mat-list-item routerLink="state-machine">State Machine</a>
        <a mat-list-item routerLink="resize">Resize</a>
        <a mat-list-item routerLink="multi-animation">Multi Animation</a>
        <a mat-list-item routerLink="player">Player</a>
        <a mat-list-item routerLink="worker">Web Worker</a>
        <a mat-list-item routerLink="artboard">Multiple Artboard</a>
        <a mat-list-item routerLink="listener">Event Listeners</a>
      </mat-nav-list>
      <mat-toolbar>
        <p class="mat-body-1">Powered by <a href="https://github.com/dappsnation/ng-rive">ng-rive</a></p>
      </mat-toolbar>
    </aside>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
