@import '~@angular/material/theming';

:host {
  position: relative;
  overflow: hidden;
  @include mat-elevation-transition;
  @include mat-elevation(2);

  &:hover {
    @include mat-elevation(4);
  }
}
canvas {
  height: 100%;
  width: 100%;
}
footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.12);
  bottom: 0;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

:host:hover {
  footer {
    transform: translateY(0);
  }
}