<ng-container *ngIf="file$ | async as file">
  <section>
    <canvas [riv]="file" [width]="500" [height]="500" (artboardChange)="setArtboard($event)">
      <ng-container *ngFor="let anim of animations; trackBy: trackByName">
        <riv-player
          [name]="anim.name"
          [mode]="anim.mode"
          [(speed)]="anim.speed"
          [(play)]="anim.playing"
          [(time)]="anim.time"
          (load)="setDuration(anim, $event)"
          autoreset>
        </riv-player>
      </ng-container>
    </canvas>
  </section>
  <footer>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let anim of animations; trackBy: trackByName">
      <div class="row">
        <span class="name">{{ anim.name }}</span>
        <div class="timeline">
          <button mat-icon-button (click)="anim.playing = !anim.playing">
            <mat-icon *ngIf="!anim.playing">play_arrow</mat-icon>
            <mat-icon *ngIf="anim.playing">pause</mat-icon>
          </button>
          <ng-container *ngIf="anim.duration as duration">
            <mat-slider mat-line step="0.1"
              [min]="duration?.start" [max]="duration?.end"
              [value]="anim.time" (change)="anim.time = $event.value">
            </mat-slider>
          </ng-container>
        </div>
        <mat-form-field>
          <mat-label>Mode</mat-label>
          <mat-select [(value)]="anim.mode">
            <mat-option>Default</mat-option>
            <mat-option value="one-shot">
              <span>One Shot (autoreset)</span>
            </mat-option>
            <mat-option value="ping-pong">
              <span>Ping Pong</span>
            </mat-option>
            <mat-option value="loop">
              <span>Loop</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Speed</mat-label>
          <input matInput type="number" step="0.1" [(ngModel)]="anim.speed" />
        </mat-form-field>
      </div>
      <mat-divider></mat-divider>
    </ng-container>
  </footer>
</ng-container>