<form [formGroup]="form" (ngSubmit)="signin()" fxLayout="column" fxLayoutGap="16px" autocomplete="on">
  <canvas riv="login" width="500" height="500" (click)="clickAnim.play = true">
    <riv-player name="idle" [play]="!signing" mix="0.5"></riv-player>
    <riv-player name="loading" [play]="signing" mix="0.5"></riv-player>
    <riv-player name="password_in" [play]="passwordFocus === true" autoreset mode="one-shot"></riv-player>
    <riv-player name="password_out" [play]="passwordFocus === false" autoreset mode="one-shot"></riv-player>
    <riv-player name="click" autoreset mode="one-shot" #clickAnim="rivPlayer"></riv-player>
    <riv-player name="error" autoreset mode="one-shot" #errorAnim="rivPlayer"></riv-player>
    <riv-node name="pupil_left" [x]="email | pupilPostion" [y]="email.focused ? 6 : 1"></riv-node>
    <riv-node name="pupil_right" [x]="email | pupilPostion" [y]="email.focused ? 6 : 1"></riv-node>
  </canvas>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input #email="matInput" matInput formControlName="email" type="email" name="email" autofocus autocomplete="username" [disabled]="signing"/>
    <mat-error *ngIf="form.hasError('required', 'email')">Email is required</mat-error>
    <mat-error *ngIf="form.hasError('email', 'email')">This doesn't look like an email...</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input #password="matInput" (focus)="passwordFocus = true" (blur)="passwordFocus = false" matInput formControlName="password" name="password" [type]="showPwd ? 'text' : 'password'" autocomplete="current-password"  [disabled]="signing"/>
    <button type="button" matSuffix mat-icon-button (click)="showPwd = !showPwd" tabindex="-1" >
      <mat-icon *ngIf="!showPwd">visibility</mat-icon>
      <mat-icon *ngIf="showPwd">visibility_off</mat-icon>
    </button>
    <mat-error *ngIf="form?.hasError('required', 'password')">Password is required</mat-error>
  </mat-form-field>

  <button type="submit" mat-flat-button color="primary" [disabled]="signing">
    <span>Signin</span>
  </button>
  <button type="button" mat-flat-button (click)="signup()" [disabled]="signing">
    <span>Signup</span>
  </button>
</form>

<div class="divider" fxLayout fxLayoutAlign="center center" fxLayoutGap="16px">
  <mat-divider fxFlex></mat-divider>
  <span>Or</span>
  <mat-divider fxFlex></mat-divider>
</div>

<div fxLayout="column" fxLayoutGap="16px">
  <button test="with-google" mat-flat-button (click)="signinWith('google')" [disabled]="signing">
    <mat-icon svgIcon="google"></mat-icon>
    <span>Signin with Google</span>
  </button>
  <button mat-button (click)="resetPassword()" [disabled]="signing">
    <span>Forgot Password</span>
  </button>
</div>
<ng-template #error let-err>
  <span test="err" >{{ err.message }}</span>
  <button mat-button *ngIf="err.code === 'user-not-found'" (click)="signup()">
    Signup
  </button>
</ng-template>
