:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form, .signin {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

canvas {
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
  border: solid 1px var(--divider);
}

.divider {
  width: 100%;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  mat-divider {
    flex: 1;
  }
}

@media (min-width: 960px) {
  form {
    width: 40%;
    padding: 24px;
  }
  .divider {
    width: 40%;
    margin-bottom: 24px;
  }
}

@media (max-width: 959.9px) {
  canvas {
    width: 150px;
    height: 150px;
  }
  form {
    width: 60%;
    padding: 16px;
  }
  .divider {
    width: 60%;
    margin-bottom: 16px;
  }
}

@media (max-width: 599.9px) {
  form {
    width: 100%;
  }
}
