:host {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

form {
  display: flex;
  flex-direction: column;
  padding: 24px;
}